@import "/src/styles/mixins";
@import "/src/styles/bootstrap-components";
@import "~bootstrap/scss/navbar";

.navbar {
    min-height: 60px;
}

.navbar-toggler {
    border: none;
    align-items: center;
    display: inline-flex;
    flex-direction: column;

    .navbar-toggler-label {
        font-size: 0.6rem;
        padding-top: 0.1rem;
        color: $black;
        font-family: sans-serif;
        letter-spacing: 0.05rem;
    }
}

.header-hav {

    &.navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-link {
        font-family: sans-serif;
        font-size: 0.8rem;
        line-height: 0.95rem;

        &.center-aligned {
            letter-spacing: 0.1rem;
        }

        &:active {
            color: yellowgreen;
        }

        &:hover {
            opacity: 1;
        }

        &:hover:after {
            transform: scaleX(1);
        }

        &:after {
            background-color: #323232;
            content: "";
            height: 3px;
            transform: scaleX(0);
            transition: transform .2s ease-in-out .1s;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &:not(:hover) .active:after {
        transform: scaleX(1);
    }

    &:hover {
        .nav-link {
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }
}